@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main {
  font-family: 'Anek Latin', sans-serif;
}

.content {
  max-width: 300px;
  margin: 0 auto;
}

.autocomplete {
  margin: 50px 0;
  position: relative;
}

.autocomplete__input {
  border: 1px solid #000;
  font-size: 20px;
  padding: 5px 10px;
  position: relative;
  width: 100%;
}

.list {
  position: absolute;
  left: 0;
  top: 33px;
  max-height: 150px;
  overflow: auto;
  width: 100%;
}

.list__item {
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.452);
  padding: 5px 10px;
  width: 100%;
  background-color: rgba(167, 167, 167, 0.1);
  cursor: pointer;
}

.list__item:hover {
  background-color: rgba(167, 167, 167, 0.2);
}

.list._hide {
  display: none;
}

.list::-webkit-scrollbar {
  /* webkit */
  width: 0;
  height: 0;
}
